.container {
    width: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    animation: container-animation;
    animation-duration: 5s;
}

.text {

    background-color: bisque;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

    font-size: 16px;
    text-align: center;
    font-family: sans-serif;

    transform: scale(1.5);
}

.left-moved-text {
    /* transform: translate(-1000px, 0px); */

    animation: left-moving;
    animation-duration: 2s;

    /* animation-timing-function: linear; */
    animation-timing-function: ease;

    /* animation-delay: 2s; */

    /* animation-iteration-count: infinite; */

    animation-play-state: paused;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.bottom_moved_text {
    left: 42%;
    top: 18px;

    animation: right-moving;
    animation-duration: 2s;
}

.right_moved_text {
    left: 42%;
    top: 36px;

    animation: bottom-moving;
    animation-duration: 2s;
}

@keyframes left-moving {
    from {
        transform: translate(-1000px, 0px);
    }

    to {
        transform: translate(-0, 0px);
    }
}

@keyframes right-moving {
    0% {
        transform: scale(0);
    }

    1% {
        transform: translate(-1000px, 0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bottom-moving {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes container-animation {
    /* 0% {}

    24% {
        transform: scale(1.5);
    }

    25% {
        transform: rotate(720deg);
    }

    /* 50% {
        transform: scale(1.5);
    } */

    from {
      
    }

    to {
        /* transform: skew(90deg, 40deg); */

        /* transform: translate(50px, 100px) rotate(45deg) scale(1.5); */
    }
}