@using Microsoft.AspNetCore.Mvc.Rendering;

@{    
    ViewData["Title"] = "My detailed page";
}

<h1>Details</h1>
<p>Detailed information about some with id: @ViewData["Id"]</p>
<p>Данные: @ViewData["SomeData"]</p>
