*{
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px;
}

.head-text{
    padding: 10px;
}

body {
    background-color: rgb(255, 255, 255);
}

.border{
    border-top: 2px red;
    border-bottom: 2px rgb(169, 15, 15);
    margin: 10px;
    padding: 10px;
}

.link1 {
    border-top: 2px red;
    border-bottom: 2px rgb(169, 15, 15);

    text-decoration: none;
    list-style: none;
    float: left;
}

.link {
    text-decoration: none;
    list-style: none;
    float: right;
}

.text1 {
    margin-left: 20px;
    text-align: left;
    width: 20%;
    float: left;
}