table{
    width: 100%;
}

.logo{
    width: 50px;

}

.banner{
    width: 100%;
}

.button{
    width: 200px;
    background-color: green;
    border: 2px solid black;
}

.par{
    width: 800px;
    text-align: center;
}

.th{
    width: 33%;
}

.logotype{
    text-align: left;
}